<?xml version="1.0" encoding="utf-8"?>
<AppInstaller xmlns="http://schemas.microsoft.com/appx/appinstaller/2021"
              Uri="https://downloads.example.com/aegis/Aegis-WebView.appinstaller"
              Version="2.1.6.0">
  <MainBundle Name="Aegis.Project.AegisWebView"
              Publisher="CN=Aegis Project"
              Version="2.1.6.0"
              Uri="https://downloads.example.com/aegis/Aegis-WebView.msix" />
  <UpdateSettings>
    <OnLaunch HoursBetweenUpdateChecks="12" ShowPrompt="true" UpdateBlocksActivation="false" />
  </UpdateSettings>
</AppInstaller>
